#body.row-fluid
	.span12
		//- header
			//- a#add-graph.btn.btn-primary.btn-large(href="#") Add graph

		ul#graphs

	#help-modal.modal.hide
		.modal-header
			button.close(type="button", data-dismiess="modal") &times;
			h3 Help
		.modal-body

			p (mt) Stats is a little web app for keeping an eye on your 
				a(href="http://www.mediatemple.net/go/order/?refdom=meloncholy.com") MediaTemple
				|  server. 

			p Using the MediaTemple API and inspired by some of the really cool stuff 
				a(href="http://bost.ocks.org/mike/") Mike Bostock
				|  has done with 
				a(href="http://d3js.org/") D3
				| , (mt) Stats lets you check up on your server's status. You can add as many graphs as you like, move them around by dragging and adjust the interval for which stats are shown with the range slider. And if you close the tab, your graphs should be there again when you revisit the site. 

			h3 That's nice, but I'm interested in my stats, not yours.

			p Yes, OK. After you've added an 
				a(href="http://mediatemple.net/api/") API key
				|  for your MediaTemple server, get a copy of 
				a(href="http://nodejs.org/") Node.js
				| . You can put this on your server if you want to access (mt) Stats from anywhere, or run it locally if you just want it on your machine. 
				a(href="https://github.com/meloncholy/mt-stats") Download (mt) Stats
				| , edit the config files and you should be good to go. Or 
				a(href="http://meloncholy.com/blog/using-d3-for-realtime-webserver-stats") please go here
				|  for details.

			h3 You've lost my graphs!

			p The app uses the browser's 
				a(href="https://developer.mozilla.org/en-US/docs/DOM/Storage") localStorage
				|  to keep track of your graphs. If you move to a different browser, I'm afraid you'll have to set them up again. 

			h3 It doesn't work! / I'm confused&hellip;

			p Make sure you're using a modern browser (Webkit- or Mozilla-based). Otherwise, please take a look 
				a(href="http://meloncholy.com/blog/using-d3-for-realtime-webserver-stats") here
				|  for more. 

		.modal-footer
			a.btn(href="#", data-dismiss="modal") Close

	script(type="text/template", id="graph-template")
		h2.graph-title
		.btn-toolbar.pull-right
			.btn-group
				a.graph-metric-toggle.btn.btn-mini.dropdown-toggle(data-toggle="dropdown", href="#") Metric
					span.caret
				ul.graph-metric.dropdown-menu
					for m in metrics
						li
							a(href="#", data-key=m.apiKey) #{m.niceName}
				a.graph-log.btn.btn-mini(data-toggle="button", href="#") log
				a.graph-min-zero.btn.btn-mini(data-toggle="button", href="#") 0+
			.btn-group
				a.graph-delete.btn.btn-mini.btn-danger(href="#") &times;
		.graph-frame
			.graph-overlay
			.graph-info
				.property
				.time

	script(type="text/settings", id="app-settings")
		!{appSettings}
